
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> 
<![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en"> 
<![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>

	<title>Concept HTML5 responsive template</title>
    <meta name="keywords" content="concept, responsive bootstrap, green, white, free html5 template, templatemo" />
	<meta name="description" content="Concept is free responsive template using bootstrap framework. Gallery is integrated with responsive lightbox." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700,800' rel='stylesheet' type='text/css'>

	<!-- CSS Bootstrap & Custom -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/templatemo_misc.css">

	<!-- Main CSS -->
	<link rel="stylesheet" href="css/templatemo_style.css">

	<!-- Favicons -->
    <link rel="shortcut icon" href="images/ico/favicon.ico">

    <link rel="stylesheet" href="css/animate.min.css" type="text/css">



</head>
<body>
	

	<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Andy's site</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="index.html">About me</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="index.html">Projects</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#">Photo</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="index.html">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
	
	<div id="menu-container">

		<div class="content homepage" id="menu-1">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 text-center">
						<h1 class="wow bounceInDown">Album</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2 col-sm-6 col-md-offset-1">
						<div class="gallery-item wow bounceIn" data-wow-delay=".1s">
								<img src="images/gallery/gallery-item1.jpg" alt="image 1">
								<div class="overlay">
									<a href="images/gallery/gallery-item1.jpg" data-rel="lightbox" class="fa fa-expand"></a>
								</div>							
						</div> <!-- /.gallery-item -->
					</div> <!-- /.col-md-2 -->
					<div class="col-md-2 col-sm-6">
						<div class="gallery-item wow bounceIn" data-wow-delay=".3s">
							<div class="image">
								<div class="overlay">
									<a href="images/gallery/gallery-item2.jpg" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
								<img src="images/gallery/gallery-item2.jpg" alt="image 2">
							</div>
						</div> <!-- /.gallery-item -->
					</div> <!-- /.col-md-2 -->
					<div class="col-md-2 col-sm-6">
						<div class="gallery-item wow bounceIn" data-wow-delay=".5s">
							<div class="image">
								<div class="overlay">
									<a href="images/gallery/gallery-item3.jpg" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
								<img src="images/gallery/gallery-item3.jpg" alt="image 3">
							</div>
						</div> <!-- /.gallery-item -->
					</div> <!-- /.col-md-2 -->
					<div class="col-md-2 col-sm-6">
						<div class="gallery-item wow bounceIn" data-wow-delay=".7s">
							<div class="image">
								<div class="overlay">
									<a href="images/gallery/gallery-item4.jpg" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
								<img src="images/gallery/gallery-item4.jpg" alt="image 4">
							</div>						</div> <!-- /.gallery-item -->
					</div> <!-- /.col-md-2 -->
					<div class="col-md-2 col-sm-6">
						<div class="gallery-item wow bounceIn" data-wow-delay=".9s">
							<div class="image">
								<div class="overlay">
									<a href="images/gallery/gallery-item5.jpg" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
								<img src="images/gallery/gallery-item5.jpg" alt="image 5">
							</div>
						</div> <!-- /.gallery-item -->
					</div> <!-- /.col-md-2 -->
					<div class="col-md-2 col-sm-6 col-md-offset-2">
						<div class="gallery-item wow bounceIn" data-wow-delay="1.1s">
							<div class="image">
								<div class="overlay">
									<a href="images/gallery/gallery-item6.jpg" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
								<img src="images/gallery/gallery-item6.jpg" alt="image 6">
							</div>
						</div> <!-- /.gallery-item -->
					</div> <!-- /.col-md-2 -->
					<div class="col-md-2 col-sm-6">
						<div class="gallery-item wow bounceIn" data-wow-delay="1.3s">
							<div class="image">
								<div class="overlay">
									<a href="images/gallery/gallery-item7.jpg" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
								<img src="images/gallery/gallery-item7.jpg" alt="image 7">
							</div>
						</div> <!-- /.gallery-item -->
					</div> <!-- /.col-md-2 -->
					<div class="col-md-2 col-sm-6">
						<div class="gallery-item wow bounceIn" data-wow-delay="1.5s">
							<div class="image">
								<div class="overlay">
									<a href="images/gallery/gallery-item8.jpg" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
								<img src="images/gallery/gallery-item8.jpg" alt="image 8">
							</div>
						</div> <!-- /.gallery-item -->
					</div> <!-- /.col-md-2 -->
					<div class="col-md-2 col-sm-6">
						<div class="gallery-item wow bounceIn" data-wow-delay="1.7s">
							<div class="image">
								<div class="overlay">
									<a href="images/gallery/gallery-item9.jpg" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
								<img src="images/gallery/gallery-item9.jpg" alt="image 9">
							</div>
						</div> <!-- /.gallery-item -->
					</div> <!-- /.col-md-2 -->
					<div class="col-md-2 col-sm-6 col-md-offset-3">
						<div class="gallery-item wow bounceIn" data-wow-delay="1.9s">
							<div class="image">
								<div class="overlay">
									<a href="images/gallery/gallery-item10.jpg" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
								<img src="images/gallery/gallery-item10.jpg" alt="image 10">
							</div>
						</div> <!-- /.gallery-item -->
					</div> <!-- /.col-md-2 -->
					<div class="col-md-2 col-sm-6">
						<div class="gallery-item wow bounceIn" data-wow-delay="2.1s">
							<div class="image">
								<div class="overlay">
									<a href="images/gallery/gallery-item11.jpg" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
								<img src="images/gallery/gallery-item11.jpg" alt="image 11">
							</div>
						</div> <!-- /.gallery-item -->
					</div> <!-- /.col-md-2 -->
					<div class="col-md-2 col-sm-6">
						<div class="gallery-item wow bounceIn" data-wow-delay="2.3s">
							<div class="image">
								<div class="overlay">
									<a href="images/gallery/gallery-item12.jpg" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
								<img src="images/gallery/gallery-item12.jpg" alt="image 12">
							</div>
						</div> <!-- /.gallery-item -->
					</div> <!-- /.col-md-2 -->
				</div> <!-- /.row -->
			</div> <!-- /.slide-item -->
		</div> <!-- /.homepage -->
	</div> <!-- /#menu-container -->

	<!-- Scripts -->
	<script src="js/jquery.js"></script>
    <script src="js/jquery-migrate-1.2.1.min.js"></script>
    <script src="js/modernizr.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/tabs.js"></script>
	<script src="js/jquery.lightbox.js"></script>
	<script src="js/wow.min.js"></script>
	<script src="js/templatemo_custom.js"></script>
	<!-- 
    	Free Responsive Template by templatemo
    	http://sc.chinaz.com
	-->
<script type='text/javascript' src='js/logging.js'></script>
<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>
</body>
</html>