<div ng-controller="listController">
	<label>Search</label>
	<input type="text" placeholder="Search.." ng-model='searchText'>
	<div class="w3-container">
		<h3>Users</h3>

		<table class="w3-table w3-bordered w3-striped">
			<tr>
				<th>Edit</th>
				<th ng-click="sort('fName')">First Name</th>
				<th ng-click="sort('lName')">Last Name</th>
				<th ng-click="sort('title')">Title</th>
				<th ng-click="sort('sex')">Sex</th>
				<th ng-click="sort('age')">Age</th>
			</tr>
			<tr ng-repeat="user in users | orderBy:sortKey:reverse | filter: searchText | offset: currentPage*usersPerPage | limitTo: usersPerPage">
				<td>
					<button class="w3-btn w3-ripple" ng-click='deleteUser(user.id)'>&#9998; Delete</button>		
				</td>
				<td>
					<a href="#/editRoute/{{ user.id }}">
						<button class="w3-btn w3-ripple">&#9998; Edit</button>
					</a>
				</td>
				<td>{{ user.fName }}</td>
				<td>{{ user.lName }}</td>
				<td>{{ user.title }}</td>
				<td>{{ user.sex }}</td>
				<td>{{ user.age }}</td>
			</tr>
		</table>

		<ul>
			<li class="pagenation" ng-show="showPrevPage">
				<a href ng-click="prevPage()">Prev</a>
			</li>
			<li class="pagenation" ng-repeat="n in range" ng-click="setPage(n)">
				<a href="#/">{{ n+1 }}</a>
			</li>
			<li class="pagenation" ng-show="showNextPage">
				<a href ng-click="nextPage()">Next</a>
			</li>
		</ul>
		<br>
		<a href="#/createRoute/">
			<button class="w3-btn w3-green w3-ripple">&#9998; Create New User</button>
		</a>
	</div>
